.latar{
  background-image: url("../img/section.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 609px;
}

.navbar-custom{
  background-color: #4db6ac;

}
.navbar-brand a{
  color: white;
  text-decoration: none;
}
.navbar-brand a:hover{
  color: #00695c;
  text-decoration: none;
  font-style: bold;
}

.navbar-nav > li > a{
  color: white;
  text-decoration: none;
}
.navbar-nav > li > a:hover{
  color: #00695c;
  text-decoration: none;
  font-style: bold;
}

.navbar-header a{
  color: white;
  text-decoration: none;
}
.navbar-header a:hover{
  color: #00695c;
  text-decoration: none;
  font-style: bold;
}

.btn-adn:active,
.btn-adn.active,
.open > .dropdown-toggle.btn-adn {
  color: #4db6ac;
  background-color: #ce563f;
  border-color: rgba(0, 0, 0, 0.2);
}

.dropdown-toggle{
  /*background-color: #4db6ac;*/
  color:#fff;
}

.skin-custom .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-custom .main-header li.user-header {
    background-color: #4db6ac;
}

.skin-custom .main-header .navbar {
  background-color: #4db6ac;
}

.skin-custom .main-header .logo {
  background-color: #4db6ac;
  color: white;
}

.skin-custom .main-header .navbar a:hover {
  /*background-color: #00695c;*/
  text-decoration: none;
}

.skin-custom .main-header .logo span:hover {
  background-color: #00695c;
}

.tengah{
    padding: 165px 30px 50px 80px;
}

.lebar{
    padding: 100px;
}

.lebar-custom{
    padding: 240px 10px 230px 10px;
}

.tengah-reg{
    padding: 85px 30px 50px 80px;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#myCarousel {
  width: 100%;
  padding: 50px;
}

.bottom {
	margin:auto;
  background-color: #4db6ac;
  color: #ffffff;
}


.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
  background-color: transparent;
}

.navbar-nav > li > a:hover{
  background-color: transparent;
}

.sidebar-background{
  background-color: #b2dfdb;
}

.navbar-nav .dropdown .dropdown-toggle {
  text-decoration: none;
}

.nav-baru{
  text-decoration: none;
  padding: 15px;
}

.nav-baru a:hover{
  text-decoration: none;
  padding: 15px;
  color: #00695c;
}

.nav-baru a:active{
  text-decoration: none;
  padding: 15px;
  color: #00695c;
}

.section-color{
  background-color: #b2dfdb;
  width: 100%;
  height: 609px;
}
