.latar{
  background-image: url("../img/wallpaper2.png");
  background-repeat: no-repeat;
  height: 639px;
}

.navbar-custom{
  background-color: #4db6ac;
}

.navbar-brand.m-r-lg {
  font-weight: bold;
}

.navbar-custom-menu{
  margin-right: 20px;

}

.navbar-brand a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.navbar-brand.pantau_sampah{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
  border-bottom: 2px solid transparent;
}

.navbar-brand a:hover{
  color: #00695c;
  text-decoration: none;
  font-style: bold;
}

.navbar-nav > li > a{
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  border-bottom: 2px solid transparent;
}
.navbar-nav > li > a:hover{
  color: #00695c;
  text-decoration: none;
  font-style: bold;
}

.navbar-header a{
  color: white;
  text-decoration: none;
}
.navbar-header a:hover{
  color: #00695c;
  text-decoration: none;
  font-style: bold;
}

.btn-adn:active,
.btn-adn.active,
.open > .dropdown-toggle.btn-adn {
  color: #4db6ac;
  background-color: #ce563f;
  border-color: rgba(0, 0, 0, 0.2);
}

.dropdown-toggle{
  /*background-color: #4db6ac;*/
  color:#fff;
}

.skin-custom .main-header .navbar .sidebar-toggle {
    color: #fff;
}

.skin-custom .main-header li.user-header {
    background-color: #4db6ac;
}

.skin-custom .main-header .navbar {
  background-color: #4db6ac;
}

.skin-custom .main-header .logo {
  background-color: #4db6ac;
  color: white;
}

.skin-custom .main-header .navbar a:hover {
  /*background-color: #00695c;*/
  text-decoration: none;
}

.skin-custom .main-header .logo span:hover {
  background-color: #00695c;
}

.btn-reg{
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 8px;
  width: 55%;
  height: 45px;
  max-width: 200px;
  background: #fff; /* fallback color for old browsers */
  background: rgba(213, 0, 0, 0.9);
  border-radius: 8px;
  color: #000;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.3s ease-out;
}

.btn-reg:hover,
.btn-reg:focus,
.btn-reg:active {
  background: #1e348e; /* fallback color for old browsers */
  background: rgb(255, 82, 82);
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
}

.tengah{
    padding: 105px 30px 50px 80px;
}

.login-body{
  background-color: #4db6ac;
}

#login-box{
  background:#fff;
  border-radius:6px;
  padding:20px;
  width:400px;
  margin:50px auto;
  box-shadow:15px 15px 0px rgba(0,0,0,.1);
}

.title-title{
  text-align:center;
  font-size:1.4em;
  font-weight:700;
  color:#ccc;
  margin-bottom:24px;
  font-family:"Helvetica Neue", Helvetica, Arial;
}

.register-body{
  background-color: #4db6ac;
}

#reg-box{
  background:#fff;
  border-radius:6px;
  padding:20px;
  width:500px;
  margin:50px auto;
  box-shadow:15px 15px 0px rgba(0,0,0,.1);
}

.lebar{
    padding: 100px;
}

.lebar-custom{
    padding: 240px 10px 230px 10px;
}

.tengah-reg{
    padding: 85px 30px 50px 80px;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#myCarousel {
  width: 100%;
  padding: 50px;
}

#item-carousel-homepage{
  margin-top: 100px;
  margin-left: 70px;
}

#item-carousel-infopage
{
  margin-top: 150px;
}

.bottom {
	margin:auto;
  background-color: #4db6ac;
  color: #ffffff;
}


.nav .open > a, .nav .open > a:focus, .nav .open > a:hover{
  background-color: transparent;
}

.navbar-nav > li > a:hover{
  background-color: transparent;
}

.sidebar-background{
  background-color: #b2dfdb;
}

.navbar-nav .dropdown .dropdown-toggle {
  text-decoration: none;
}

.nav-baru{
  text-decoration: none;
}

.nav-baru a:hover{
  text-decoration: none;
  padding: 15px;
  color: #00695c;
}

.nav-baru a:active{
  text-decoration: none;
  padding: 15px;
  color: #00695c;
}

.navbar-right {
  font-size: 16px;
}

.section-color.carousel{
  background-color: #b2dfdb;
  width: 100%;
  height: 650px;
}

.chart-lines{
  background: url('../img/chart-background-1.jpg') center top no-repeat;
  background-size: cover;
  height: 650px;
}
.chart-lines h2 {
  font-weight: bold;
  margin-top: 105px;
}
.chart-1 {
  margin-top: 100px;
}

.chart-bars{
  background: url('../img/chart-background-2.jpg') center top no-repeat;
  background-size: cover;
  height: 650px;
}
.chart-bars h2 {
  font-weight: bold;
  margin-top: 55px;
}
.chart-2 {
  margin-top: 90px;
}

.box.box-solid.box-info > .box-header {
    color: #fff;
    background: #26a69a;
    background-color: #26a69a;
}

.box-header.with-border {
    border-bottom: 1px solid #26a69a;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #26a69a;
}

.pad-tengah{
    padding : 10px 300px 30px;
}

.sidebar-mini.sidebar-collapse .sidebar-menu > li:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
}

#tentang {
  margin-top: -100px;
  padding-top: 4%;
  background: -webkit-linear-gradient(#fff 15%, #f4f4f4 25%); /* Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fff 15%, #f4f4f4 25%); /* For Opera 11.6 to 12.0 */
    background: -moz-linear-gradient(#fff 15%, #f4f4f4 25%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff 15%, #f4f4f4 25%); /* Standard syntax (must be last) */
  width: 100%;
  /*background-image: url(../images/variations.png);*/
  background-position: bottom left; 
  background-repeat: no-repeat;
}

h2.title-section {
  color: #7396b8;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 25px;
}
h3.title-section {
  color: #7396b8;
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 25px;
}

.about-box{
  margin-top: -30px;
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
  height: 429px;
}

.carousel h1,
.carousel h4 {
  color: #fff;
}

.carousel.slide h1,
.carousel.slide h4 {
  color: #000;
}

/*css buat chart.js doughnut user */
.chart-legend li span{
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.bar{
  position: relative;
  background: #38a7bb;
  padding: 20px 0;
}
.bar .dark-mask{
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e232e;
  opacity: 0.7;
  filter: alpha(opacity=30);
}

.bar.background-white {
  background-color: #b2dfdb;
}

/*static image info*/
.bar.background-image-fixed {
  background: url('../img/wallpaperbatal.png') center top no-repeat;
  background-size: cover;
  height: 600px;
}
.bar.background-image-fixed-2 {
  background: url('../img/photo4.jpg') center top no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 230px ;
}

.bar.color-white h2,
.bar.color-white p{
  color: #fff;
  font-style: bold;
}